*.pyc
samples/tf_study/mnist/mnist/data/*
samples/tf_study/cifar10/data/*
samples/tf_study/cifar10/eval/*
samples/tf_study/save_load/sample/checkpoint/*
samples/tf_study/save_load/complex/checkpoint/*
samples/tf_study/quantize/create/models/*
samples/tf_study/quantize/create_pretty/models/*
*-checkpoint.ipynb
*.pb
*checkpoint
*checkpoint.ckpt
*checkpoint.ckpt.meta
*graph_def
*.png
samples/tf_study/tensorboard/log/events.out.tfevents.1484807969.lc-mac.local
samples/tf_study/tensorboard/log/events.out.tfevents.1484808005.lc-mac.local
samples/tf_study/tensorboard/log/events.out.tfevents.1484808052.lc-mac.local
samples/tf_study/tensorboard/log/events.out.tfevents.1484808079.lc-mac.local
samples/tf_study/tensorboard/log/events.out.tfevents.1484808100.lc-mac.local
samples/tf_study/tensorboard/log/events.out.tfevents.1484808110.lc-mac.local
